name: Release
on:
  push:
    tags-ignore:
      - '*.*'
    branches:
      - master

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node.js ${{matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{matrix.node-version }}

      - name: Install
        run: yarn --frozen-lockfile

      - name: Unit Test
        run: yarn run test

      - name: Build
        run: yarn run build

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
